#carousel {
display: flex;
height: 100px;
justify-content: space-evenly;
}

#mainImage {
    margin-top: 70px;
    width: 350px;
}

.smallPhoto {
width: 8%;
height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}