:root {
  --main-color: #f4f4f2;
  --secondary-color: #bbbfca;
  --text-color: #495464;
  font-size: 16px;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
}

#icon {
  height: 75%;
  margin-left: 15px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.ig-photo {
  width: 30%;
  min-width: 175px;

  /* set images to same dimensions */
  /* height: 300px;
  object-fit: cover; */

  background-size: contain;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  background-color: var(--secondary-color);
  align-items: center;
}

h1 {
  margin-right: auto;
  margin-left: auto;
}

#dropbtn {
  transition: color 0.6s;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: black;
}

#toggle {
  display: none;
}

#drop {
  display: flex;
  position: fixed;
  width: 90px;
  height: 0;
  top: 60px;
  right: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
  opacity: 0;
  border-radius: 0 0 20px 20px;
  transition: all 1s;
}

#drop a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border-radius: 0;
  background-color: var(--secondary-color);
}

#drop a:hover {
  background-color: var(--text-color);
  color: var(--main-color);
  border-radius: 40px;
}

.dropbtn:hover {
  color: var(--main-color);
}

#toggle:checked ~ #drop {
  height: 216px;
  width: 100%;
  opacity: 0.87;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ig-photo {
  width: 400px;
  max-width: 100%;
  margin-top: 75px;
  margin-bottom: 30px;
}

footer {
  height: 40px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
  max-width: 100%;
  margin-top: 100px;
  justify-content: center;
}

footer a {
  margin-right: 10px;
}

@media screen and (min-width: 750px) {
  body {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    width: 30%;
    min-width: 267px;
    max-width: 380px;
  }

  #drop {
    transition: all 0s;
    position: static;
  }
  #drop a {
    width: 100%;
    flex-grow: 0;
    transition: all 0s;
    transition: color 0.5s, background-color 1.5s, border-radius 1s;
    height: 50px;
  }

  #toggle:not(:checked) ~ #drop {
    display: contents;
  }

  .smallOnly {
    display: none;
  }

  #icon {
    width: 75px;
    height: 75px;
    margin-right: 6px;
  }

  h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    position: relative;
  }

  #titleBreak {
    font-size: 0.87em;
    position: relative;
    top: -9px;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    width: 70vw;
  }

  .ig-photo {
    margin-top: 0;
  }

  footer {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1267px) {
  main {
    margin-left: 380px;
    width: auto;
  }
}

@media screen and (min-width: 1574px) {
  h1 {
    max-width: 450px;
  }
}
